// =============== order-card ===============

.order-card {
	&__item {
		padding: 2rem;
		background-color: #fff;
	}
	&__img-wrapp {
		padding-top: 100%;
		width: 100%;
		position: relative;
		border-radius: 0.99744rem;
		overflow: hidden;
		margin-bottom: 1.7rem;
	}
	&__img-label {
		padding: 0.35rem 0.85rem 0.2rem 1.8rem;
		border-radius: 1.10825rem;
		background-color: #f00;
		color: #fff;
		font-weight: 500;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0.75rem;
			width: 0.7rem;
			height: 0.7rem;
			margin-right: 0.4rem;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			background-image: url("/img/pre-order/clock.svg");
			filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%)
				hue-rotate(185deg) brightness(101%) contrast(102%);
		}
	}
	&__link-img {
		display: block;
	}
	&__img {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__author {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__title {
		display: block;
		font-size: 1.8rem;
		font-weight: 600;
		line-height: 2.2rem;
		text-transform: uppercase;
		margin-bottom: 2rem;
		height: 4.3rem;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__btn {
		border-radius: 0.89925rem;
		width: 100%;
		height: 3.4375rem;
		background-color: #f00;
		color: #fff;
		font-size: 1.5rem;
		font-weight: 600;
	}
	&__price {
		margin-top: 2.5rem;
		font-size: 2rem;
		font-weight: 500;
	}
	&__stock {
		display: none;
	}
}

@media screen and (max-width: 1145px) {
	.order-card {
		&__item {
			padding: 1.6rem;
		}
		&__img-wrapp {
			border-radius: 0.89556rem;
			margin-bottom: 1.6rem;
		}
		&__img-label {
			font-size: 0.8rem;
			line-height: 1rem;
			border-radius: 0.89556rem;
			top: auto;
			bottom: 0;
		}
		&__author {
			font-size: 1.25rem;
			margin-bottom: 0.5rem;
		}
		&__title {
			font-size: 1.5rem;
			line-height: 2rem;
			margin-bottom: 1.5rem;
			height: 3.8rem;
		}
		&__btn {
			display: none;
		}
		&__price {
			margin-top: 0;
			margin-bottom: 1.4rem;
			font-size: 1.59213rem;
		}
		&__stock {
			display: block;
			color: #f00;
			font-size: 1.25rem;
			font-weight: 500;
		}
	}
}
@media screen and (max-width: 680px) {
	.order-card {
		&__item {
			padding: 0.75rem;
		}
		&__img-wrapp {
			border-radius: 0.42631rem;
			margin-bottom: 0.75rem;
		}
		&__img-label {
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: Arial, sans-serif;
			height: 0.9rem;
			font-size: 0.5rem;
			border-radius: 0.2975rem;
			padding: 0 0.4rem 0 0.8rem;
			&::before {
				left: 0.25rem;
				width: 0.4rem;
				height: 0.4rem;
				margin-right: 0.4rem;
			}
		}
		&__author {
			font-size: 0.625rem;
			line-height: 1rem;
			margin-bottom: 0.1rem;
		}
		&__title {
			font-size: 0.8rem;
			line-height: 1rem;
			margin-bottom: 0.7rem;
			height: 1.9rem;
		}
		&__btn {
			display: none;
		}
		&__price {
			margin-bottom: 0.3rem;
			font-size: 0.75rem;
			line-height: 1rem;
		}
		&__stock {
			font-size: 0.625rem;
			line-height: 1rem;
		}
	}
}
