<section class="banner">
  <div class="container">
    <div class="banner__body">
      <div class="banner__container">
        <div class="banner__wrap">
          <div class="swiper swiper-banner">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img class="banner-img" src="./img/banner/banner1.jpg" alt="" />
              </div>
              <div class="swiper-slide">
                <img class="banner-img" src="./img/banner/banner2.jpg" alt="" />
              </div>
              <div class="swiper-slide">
                <img class="banner-img" src="./img/banner/banner3.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
