<li class="order-card__item swiper-slide">
  <div class="order-card__body">
    <div class="order-card__img-wrapp">
      <a href="#" class="order-card__img-label">Передзамовлення</a>
      <a href="#" class="order-card__link-img">
        <img class="order-card__img" src="./img/book.jpg" alt="" />
      </a>
    </div>
    <div class="order-card__content">
      <h3 class="order-card__author">Валентина Корпусова</h3>
      <a href="#" class="order-card__title"
        >Домонтович. Творчість і доля доля доля доля доля</a
      >
      <button class="order-card__btn" type="button">Додати в кошик</button>
      <p class="order-card__price">300 ₴</p>
      <p class="order-card__stock">Є в наявності</p>
    </div>
  </div>
</li>
