<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header-mobal__nav">
        <div class="header-mobal__bugreg">
          <div class="bugreg"><span></span></div>
          <ul class="bugreg-menu">
            <li><a href="./books.html">У наявності</a></li>
            <li><a href="./books.html">Новинки</a></li>
            <li class="bugreg-catalog">
              <a href="#">Каталог книг</a>
              <ul class="bugreg-menu">
                <li><a href="./books.html">Художня література</a></li>
                <li><a href="./books.html">Підліткова література</a></li>
                <li><a href="./books.html">Non-fiction література</a></li>
                <li><a href="./books.html">Дитяча література</a></li>
              </ul>
            </li>
            <li><a href="./books.html">Передзамовлення</a></li>
          </ul>
        </div>
        <a href="./index.html" class="header-mobal__logo custom-logo-link">
          <img
            src="./img/header/logo-mini.svg"
            class="header-mobal__logo-mini custom-logo"
            alt="Прометей"
          />
        </a>
      </div>

      <a href="./index.html" class="header__logo custom-logo-link">
        <img
          src="./img/header/logo.svg"
          class="header__logo-dec custom-logo"
          alt="Прометей"
        />
      </a>

      <nav class="header__navigation">
        <ul class="header__list">
          <li class="header__item icon-books menu-item">
            <a href="./books.html" class="header__link">Книжки</a>
            <ul class="sub-menu">
              <li><a href="./books.html">У наявності</a></li>
              <li><a href="./books.html">Новинки</a></li>
              <li>
                <a href="./books.html">Каталог книг</a>
                <ul class="sub-menu">
                  <li>
                    <a href="./books.html">Художня література</a>
                  </li>
                  <li><a href="./books.html">Підліткова література</a></li>
                  <li><a href="./books.html">Non-fiction література</a></li>
                  <li><a href="./books.html">Дитяча література</a></li>
                </ul>
              </li>
              <li><a href="./books.html">Передзамовлення</a></li>
            </ul>
          </li>
          <li class="header__item icon-user menu-item">
            <a href="./about-us.html" class="header__link">Про нас</a>
          </li>
          <li class="header__item icon-inst menu-item">
            <a href="#" class="header__link">Блог</a>
          </li>
          <li class="header__item icon-contacts menu-item">
            <a href="#" class="header__link">Контакти</a>
          </li>
          <li class="header__item icon-upload menu-item">
            <a href="#" class="header__link">Доставка і повернення</a>
          </li>
        </ul>
      </nav>

      <div class="header-shopp">
        <a href="#" class="header-shopp__link">
          <span></span>
          <img src="./img/header/header-shopp.svg" alt="" />
        </a>
      </div>

      <form class="header-search__form">
        <label class="header-search__label" for="text">
          <input
            class="header-search__input"
            type="text"
            name="text"
            placeholder="Пошук..."
            id="text"
          />
        </label>
        <button class="header-search__btn" type="submit">
          <svg class="header-search__icon" width="18" height="18">
            <use href="./img/icons.svg#icon-header-search"></use>
          </svg>
        </button>
        <div class="form-notice">
          <p>
            <span>Нічого не знайдено. </span>Спробуйте змінити пошуковий запит і
            повторити
          </p>
        </div>
      </form>

      <ul class="header-mobal-list">
        <li class="header-shopp mobal-shopp">
          <a href="#" class="header-shopp__link">
            <span></span>
            <img src="./img/header/header-shopp.svg" alt="" />
          </a>
        </li>
        <li class="header-book">
          <a href="#" class="header-book__link">
            <img src="./img/header/header-book.svg" alt="" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
