/* https://uk.bestfonts.pro/font/fixel-text */



/* 
@font-face {
    font-family: "fontname";
    src: url("../fonts/fontname/fontname.eot");
    src: url("../fonts/fontname/fontname.eot?#iefix")format("embedded-opentype"),
    url("../fonts/fontname/fontname.woff") format("woff"),
    url("../fonts/fontname/fontname.ttf") format("truetype");
    font-display: auto;
}
*/