// =============== general ===============

html,
body {
	font-family: var(--main-font-family);
	color: var(--main-color-black);
	font-size: 1rem;
	line-height: 1.5rem;
}

main {
	flex-grow: 1;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: #e4e4e4;
	background-image: url("/img/bg-img/bg-dec.png");
	background-position: top;
	background-size: contain;
	background-repeat: repeat;
}

.container {
	max-width: 120rem;
	padding: 0 5rem;
	margin: 0 auto;
}

@media screen and (max-width: 1840px) {
	html {
		font-size: 0.87vw;
	}
}

@media screen and (max-width: 1145px) {
	html {
		font-size: 16px;
	}
	.container {
		padding: 0 3.75rem;
	}
}

@media screen and (max-width: 835px) {
	html {
		font-size: 1.92vw;
	}
}

@media screen and (max-width: 680px) {
	html {
		font-size: 16px;
	}
	.container {
		padding: 0 1.875rem;
	}
}

@media screen and (max-width: 400px) {
	html {
		font-size: 3.98vw;
	}
}
