// =============== variables ===============

body {
	/* Colors */
	--main-color-black: #1f1f1f;
	--red: #ff0000;

	/* Fonts */
	--main-font-family: "Fixel Text", sans-serif;
	--second-family: "TT Firs Neue", sans-serif;
}
