<footer class="footer">
  <div class="container">
    <div class="footer__wrapp">
      <div class="footer__body">
        <form class="footer-form">
          <label class="footer-form__label" for="email">
            <input
              class="footer-form__input"
              type="email"
              name="email"
              id="email"
              placeholder="Ваш Email..."
            />
          </label>
          <button class="footer-form__btn" type="submit">
            Підпишись на новини
          </button>
          <button class="footer-form__btn-tablet" type="submit">
            <img src="./img/footer/pen.svg" alt="" />
          </button>
        </form>

        <ul class="footer-links__list">
          <li class="footer-links__item">
            <a class="footer-links__link" href="#">Завантажити прайс книжок</a>
          </li>
          <li class="footer-links__item">
            <a class="footer-links__link" href="./vacancies.html">Вакансії</a>
          </li>
        </ul>

        <button class="footer-scroll" type="button">
          <img src="./img/footer/scroll-up.svg" alt="" />
        </button>
      </div>

      <div class="footer-social">
        <address class="footer-contacts">
          <a class="footer-contacts__phone" href="tel:+380631234567"
            >+380631234567</a
          >
          <span class="footer-contacts__viber">(вайбер)</span>
          <ul class="footer-contacts__delive-list">
            <li class="footer-contacts__delive-item">
              <a class="footer-contacts__delive-link" href="#"
                >Умови доставки</a
              >
            </li>
            <li class="footer-contacts__delive-item">
              <a class="footer-contacts__delive-link" href="#">
                Договір публічної оферти</a
              >
            </li>
          </ul>
        </address>

        <div class="footer-network">
          <address class="footer-network__info">
            <p class="footer-network__text">Для звʼязку:</p>
            <a
              class="footer-network__email"
              href="mailto:prometeusbooks@gmail.com"
              >prometeusbooks@gmail.com</a
            >
          </address>
          <ul class="footer-network__list">
            <li class="footer-network__item">
              <a
                class="footer-network__link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src="./img/network/inst.svg" alt="" />
              </a>
            </li>
            <li class="footer-network__item">
              <a
                class="footer-network__link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src="./img/network/facebook.svg" alt="" />
              </a>
            </li>
            <li class="footer-network__item">
              <a
                class="footer-network__link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src="./img/network/telegram.svg" alt="" />
              </a>
            </li>
          </ul>
        </div>

        <ul class="footer-links__list mobal-links-active">
          <li class="footer-links__item">
            <a class="footer-links__link" href="#">Завантажити прайс книжок</a>
          </li>
          <li class="footer-links__item">
            <a class="footer-links__link" href="./vacancies.html">Вакансії</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
