// =============== vacancies ===============

.vacancies {
	margin-top: 1rem;
	&__wrapp {
		padding: 5rem 0 5rem 5rem;
		background-color: #fafafa;
		position: relative;
		&::after {
			content: "";
			width: 100vw;
			left: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			background-color: #fafafa;
		}
	}
	&__title {
		font-family: "TT Firs Neue";
		font-size: 3.5rem;
		font-weight: 400;
		line-height: 3.4825rem;
		text-transform: uppercase;
		margin-bottom: 4.8rem;
	}
	&__body {
	}
	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__text {
		font-size: 2.5rem;
		line-height: 3rem;
		width: 63rem;
	}
}

.vacancies-options {
	&__list {
		display: grid;
		gap: 2.6rem;
		grid-template-columns: 1fr 1fr 1fr;
		margin-bottom: 5rem;
	}
	&__item {
		height: auto;
		border-radius: 1.875rem;
		overflow: hidden;
		position: relative;
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__wrapp {
		background: rgba(255, 0, 0, 0.4);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		padding: 2.5rem;
	}
	&__title {
		text-align: center;
		color: #fff;
		font-family: "TT Firs Neue";
		font-size: 3.5rem;
		font-weight: 400;
		line-height: 3.4825rem;
		text-transform: uppercase;
		margin-bottom: 0.6rem;
	}
	&__link {
		margin-bottom: 30%;
		color: #fff;
		font-family: "TT Firs Neue";
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 1.24375rem;
		display: block;
		padding: 0.44rem 1.06rem;
		border-radius: 5rem;
		border: 1px solid #fff;
		transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover {
			color: #1f1f1f;
			background-color: #fff;
		}
	}
	&__logo {
		width: 5.93531rem;
		height: 1.4215rem;
	}
}

.vacancies-network {
	display: flex;
	flex-direction: column;
	gap: 2.2rem;
	&__request {
		color: #fff;
		font-family: "Fixel Text";
		font-size: 1.9375rem;
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 2.5rem;
		background-color: #f00;
		width: 32.4375rem;
		height: 5.625rem;
	}
	&__list {
		display: flex;
		gap: 2.27rem;
		justify-content: flex-end;
	}
}

@media screen and (max-width: 1145px) {
	.vacancies {
		margin-top: 2rem;
		& > .container {
			padding: 0;
		}
		&__wrapp {
			padding: 3.75rem;
			border-radius: 1.875rem;
		}
		&__title {
			font-size: 3rem;
			line-height: 2.985rem;
			margin-bottom: 1.25rem;
		}
		&__body {
		}
		&__content {
			flex-direction: column;
			justify-content: start;
			align-items: center;
		}
		&__text {
			width: 100%;
			font-size: 1.5rem;
			line-height: 1.8rem;
			margin-bottom: 3.75rem;
			& span {
				display: block;
				font-size: 2.25rem;
				line-height: 2.7rem;
				margin-bottom: 1.88rem;
			}
		}
	}

	.vacancies-options {
		&__list {
			gap: 1.6rem;
			grid-template-columns: 1fr 1fr;
			margin-bottom: 2.55rem;
		}
		&__item {
			border-radius: 1.18163rem;
		}
		&__wrapp {
			padding: 1.6rem;
		}
		&__title {
			font-size: 2.20569rem;
			line-height: 2.19463rem;
			margin-bottom: 0.4rem;
		}
		&__link {
			margin-bottom: 35%;
			line-height: 0.9rem;
			padding: 0.35rem 0.75rem;
			font-size: 1rem;
			border-radius: 3.15094rem;
			border: 0.63px solid #fff;
		}
		&__logo {
			width: 3.74038rem;
			height: 0.89581rem;
		}
	}

	.vacancies-network {
		gap: 5.5rem;
		&__request {
			width: 24.7rem;
			height: 5.25rem;
			font-size: 2.10075rem;
			line-height: 2.52094rem;
			border-radius: 4.375rem;
		}
		&__list {
			justify-content: center;
		}
	}
}

@media screen and (max-width: 680px) {
	.vacancies {
		margin-top: 0.95rem;
		&__wrapp {
			padding: 1.875rem;
			border-radius: 0.89256rem;
		}
		&__title {
			font-size: 1.5rem;
			line-height: 1.4925rem;
			margin-bottom: 0.6rem;
		}
		&__text {
			font-size: 0.75rem;
			line-height: 0.9rem;
			margin-bottom: 1.93rem;
			& span {
				font-size: 1rem;
				line-height: 1.2rem;
				margin-bottom: 0.9rem;
			}
		}
	}

	.vacancies-options {
		&__list {
			gap: 0.75rem;
			margin-bottom: 1.22rem;
		}
		&__item {
			border-radius: 0.56244rem;
		}
		&__wrapp {
			padding: 0.75rem;
		}
		&__title {
			font-size: 1.04994rem;
			line-height: 1.04469rem;
			margin-bottom: 0.17rem;
		}
		&__link {
			margin-bottom: 40%;
			border-radius: 1.49994rem;
			border: 0.3px solid #fff;
			padding: 0.25rem 0.45rem;
			font-size: 0.6rem;
			line-height: 0.5rem;
		}
		&__logo {
			width: 1.7805rem;
			height: 0.42644rem;
		}
	}

	.vacancies-network {
		gap: 1.8rem;
		&__request {
			width: 11.75rem;
			height: 2.5rem;
			font-size: 1rem;
			line-height: 1.2rem;
			border-radius: 2.08256rem;
		}
		&__list {
			gap: 1.08rem;
		}
	}
}
