// =============== footer ===============

.footer {
	margin-top: 1rem;
	&__wrapp {
		padding: 5rem 0 5rem 5rem;
		background-color: #fafafa;
		position: relative;
		&::after {
			content: "";
			width: 100vw;
			left: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			background-color: #fafafa;
		}
	}
	&__body {
		margin-bottom: 5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.footer-form {
	display: flex;
	align-items: center;
	gap: 1.13rem;
	&__label {
	}
	&__input {
		width: 23rem;
		height: 4.25rem;
		border-radius: 1.25rem;
		background-color: #e4e4e4;
		padding: 0 1.5rem;
		font-size: 1.875rem;
		font-weight: 500;
		line-height: 2.25rem;
		&::placeholder {
			color: #a5a5a5;
		}
	}
	&__btn {
		padding: 0 1.5rem;
		font-family: var(--main-font-family);
		height: 4.25rem;
		border-radius: 1.25rem;
		background-color: #f00;
		color: #fff;
		font-size: 1.875rem;
		font-weight: 600;
	}
	&__btn-tablet {
		display: none;
	}
}

.footer-links {
	&__list {
		display: flex;
		align-items: center;
		gap: 1.13rem;
	}
	&__item {
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #f00;
		font-size: 1.875rem;
		font-weight: 600;

		padding: 0 1.5rem;
		height: 4.25rem;
		border-radius: 1.25rem;
		border: 1px solid #f00;
		transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover {
			background-color: #f00;
			color: #fff;
		}
	}
}

.footer-scroll {
	width: 5rem;
	height: 5rem;
	border: 1px solid #f00;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	img {
		width: 2.5rem;
		filter: brightness(0) saturate(100%) invert(25%) sepia(94%) saturate(6089%)
			hue-rotate(354deg) brightness(103%) contrast(123%);
	}
	&:hover {
		background-color: #f00;
	}
	&:hover img {
		filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(0%)
			hue-rotate(282deg) brightness(106%) contrast(103%);
	}
}

.footer-social {
	display: flex;
	justify-content: space-between;
}
.footer-contacts {
	font-style: normal;
}
.footer-contacts {
	&__phone {
		font-size: 2.625rem;
		font-weight: 500;
		line-height: 3.15rem;
	}
	&__viber {
		color: rgba(30, 30, 30, 0.4);
		font-size: 2rem;
		line-height: 3.15rem;
	}
	&__delive-list {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	&__delive-item {
	}
	&__delive-link {
		font-size: 1.875rem;
		font-weight: 500;
		line-height: 2.25rem;
		transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover {
			color: #c9c9c9;
		}
	}
}
.footer-network {
	&__info {
		font-style: normal;
	}
	&__text {
		margin-bottom: 1rem;
		text-align: right;
		font-size: 1.875rem;
		font-weight: 500;
		line-height: 2.25rem;
	}
	&__email {
		margin-bottom: 1rem;
		text-align: right;
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
	&__list {
		display: flex;
		gap: 2.27rem;
		justify-content: flex-end;
	}
	&__item {
		width: 5.40125rem;
		height: 5.40125rem;
	}
	&__link {
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__item:hover {
		img {
			filter: brightness(0) saturate(100%) invert(11%) sepia(98%)
				saturate(5372%) hue-rotate(359deg) brightness(108%) contrast(115%);
		}
	}
}

.mobal-links-active {
	display: none;
}

@media screen and (max-width: 1145px) {
	.footer {
		margin-top: 2rem;
		& > .container {
			padding: 0;
		}
		&__wrapp {
			padding: 3.75rem 3.75rem 12rem 3.75rem;
		}
		&__body {
			margin-bottom: 3.81rem;
		}
	}
	.footer-form {
		gap: 2.14rem;
		width: 100%;
		&__label {
			width: 100%;
		}
		&__input {
			width: 100%;
			height: 5.25rem;
		}
		&__btn {
			display: none;
		}
		&__btn-tablet {
			padding: 0;
			width: 5.25rem;
			height: 5.25rem;
			border-radius: 0.875rem;
			background-color: #f00;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			img {
				width: 2.875rem;
				height: 2.875rem;
			}
		}
	}

	.footer-social {
		display: flex;
		flex-direction: column;
	}
	.footer-scroll {
		display: none;
	}
	.footer-contacts {
		&__phone {
			font-size: 1.5rem;
			font-weight: 600;
			line-height: 1.8rem;
		}
		&__viber {
			font-size: 1.5rem;
			line-height: 1.8rem;
		}
		&__delive-list {
			margin-top: 1rem;
		}
		&__delive-link {
			font-size: 1.5rem;
			line-height: 1.8rem;
		}
	}

	.footer-network {
		margin-top: 3.75rem;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		&__text {
			text-align: start;
		}
		&__email {
			text-align: start;
			margin-bottom: 0;
			font-size: 1.5rem;
			line-height: 1.8rem;
		}
		&__list {
			justify-content: start;
		}
	}

	.footer-links {
		&__list {
			display: none;
		}
		&__item:first-of-type {
			width: 100%;
		}
		&__link:first-of-type {
			width: 100%;
		}
		&__link {
			height: 3.505rem;
			font-size: 1.54631rem;
		}
	}
	.mobal-links-active {
		margin-top: 3.37rem;
		display: flex;
	}
}

@media screen and (max-width: 680px) {
	.footer {
		margin-top: 0.95rem;
		& > .container {
			padding: 0;
		}
		&__wrapp {
			padding: 2.95rem 1.875rem 5rem 1.875rem;
		}
		&__body {
			margin-bottom: 2.53rem;
		}
	}
	.footer-form {
		gap: 0.56rem;
		&__label {
		}
		&__input {
			height: 1.79rem;
			font-size: 0.71569rem;
			line-height: 0.85888rem;
			border-radius: 0.50294rem;
		}
		&__btn {
			display: block;
			height: 1.79rem;
			width: 100%;
			font-size: 0.75rem;
			padding: 0;
			border-radius: 0.50294rem;
		}
		&__btn-tablet {
			display: none;
		}
	}

	.footer-contacts {
		&__phone {
			font-size: 0.75rem;
			line-height: 0.9rem;
		}
		&__viber {
			font-size: 0.75rem;
			line-height: 0.9rem;
		}
		&__delive-list {
			margin-top: 0.3rem;
			gap: 0.3rem;
		}
		&__delive-link {
			font-size: 0.75rem;
			line-height: 0.9rem;
		}
	}

	.footer-network {
		margin-top: 1.68rem;
		&__text {
			font-size: 1rem;
			line-height: 1.2rem;
			margin-bottom: 0.48rem;
		}
		&__email {
			font-size: 0.75rem;
			line-height: 0.9rem;
		}
		&__list {
			gap: 0.12rem;
		}
		&__item {
			width: 1.96256rem;
			height: 1.96256rem;
		}
	}

	.footer-links {
		&__link {
			border-radius: 0.50294rem;
			padding: 0 0.7rem;
			height: 1.75rem;
			font-size: 0.75444rem;
		}
	}

	.mobal-links-active {
		margin-top: 1.68rem;
		display: flex;
	}
}
