// =============== header ===============

.header {
	padding: 5rem 0 3.37rem 0;
	background-color: #fff;
	position: relative;
	z-index: 15;
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		width: 14.875rem;
		height: 3.5625rem;
	}
	&__logo-dec {
		width: 100%;
		height: 100%;
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 1rem;
		transform: translateY(0.3rem);
	}
	&__item {
		position: relative;
		white-space: nowrap;
		a {
			&::before {
				content: "";
				position: relative;
				top: -0.11rem;
				width: 1.7rem;
				height: 1.7rem;
				margin-right: 0.7rem;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				filter: brightness(0) saturate(100%) invert(0%) sepia(94%) saturate(0%)
					hue-rotate(70deg) brightness(105%) contrast(101%);
			}
		}
		&.icon-books {
			a {
				&::before {
					width: 2rem;
					height: 2rem;
					background-image: url("/img/header/header-book.svg");
				}
			}
		}
		&.icon-user {
			a {
				&::before {
					background-image: url("/img/header/header-user.svg");
				}
			}
		}
		&.icon-inst {
			a {
				&::before {
					background-image: url("/img/header/header-inst.svg");
				}
			}
		}
		&.icon-contacts {
			a {
				&::before {
					background-image: url("/img/header/header-contacts.svg");
				}
			}
		}
		&.icon-upload {
			a {
				&::before {
					width: 2rem;
					height: 2rem;
					background-image: url("/img/header/header-upload.svg");
				}
			}
		}
		&:hover {
			& > a {
				color: #f00;
				border: 1px solid #f00;
				&::before {
					filter: brightness(0) saturate(100%) invert(25%) sepia(94%)
						saturate(6089%) hue-rotate(354deg) brightness(103%) contrast(123%);
				}
			}

			& > .sub-menu {
				opacity: 1;
				visibility: visible;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					height: 0.7rem;
					transform: translateY(-100%);
				}
				li {
					position: relative;
					&:hover {
						& > a {
							color: #f00;
						}
						.sub-menu {
							opacity: 1;
							visibility: visible;
						}
						a {
							position: relative;
							&::after {
								content: "";
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								width: 1.5rem;
								transform: translateX(100%);
							}
						}
						.sub-menu a::after {
							display: none;
						}
					}
				}
			}
		}
		.sub-menu {
			padding: 0.8rem 1.5rem 1.5rem 1.5rem;
			background-color: #fff;
			transition: 0.3s opacity;
			visibility: hidden;
			opacity: 0;
			position: absolute;
			left: 0;
			top: calc(100% + 0.7rem);
			border-radius: 1.25rem;
			box-shadow:
				0px 24px 80px 0px rgba(0, 0, 0, 0.07),
				0px 10.027px 33.422px 0px rgba(0, 0, 0, 0.05),
				0px 5.361px 17.869px 0px rgba(0, 0, 0, 0.04),
				0px 3.005px 10.017px 0px rgba(0, 0, 0, 0.04),
				0px 1.596px 5.32px 0px rgba(0, 0, 0, 0.03),
				0px 0.664px 2.214px 0px rgba(0, 0, 0, 0.02);
			a {
				display: block;
				padding-bottom: 0.4rem;
				margin-top: 0.7rem;
				border-bottom: 1px solid #000000;
				font-size: 1.25rem;
				font-weight: 500;
				line-height: 1.625rem;
				&::before {
					display: none;
				}
			}
			.sub-menu {
				top: -1.5rem;
				left: calc(100% + 1.5rem);
			}
		}
	}
	&__link {
		height: 100%;
		display: flex;
		align-items: center;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.8rem;
		border: 1px solid transparent;
		border-radius: 3.125rem;
		padding: 0.4rem 0.7rem 0.2rem 0.7rem;
		transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}
.header-shopp {
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.6rem;
		position: relative;
		img {
			width: 2.2rem;
			height: 2.2rem;
		}
		& span {
			position: absolute;
			width: 0.85rem;
			height: 0.85rem;
			right: 0.55rem;
			top: 0.7rem;
			border-radius: 50%;
			background-color: #f00;
		}
	}
	&:hover img {
		filter: brightness(0) saturate(100%) invert(25%) sepia(94%) saturate(6089%)
			hue-rotate(354deg) brightness(103%) contrast(123%);
	}
}

.header-search {
	&__form {
		position: relative;
	}
	&__input {
		padding: 0 3.3rem 0 2rem;
		width: 15.0625rem;
		height: 3.75rem;
		border-radius: 3.125rem;
		background-color: #e4e4e4;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.8rem;
		overflow: hidden;
		&::placeholder {
			color: #a5a5a5;
		}
	}
	&__btn {
		position: absolute;
		border-radius: 0 3.125rem 3.125rem 0;
		width: 3.75rem;
		height: 3.75rem;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__icon {
		fill: transparent;
		stroke: #000;
	}
}
.form-notice {
	position: absolute;
	top: 100%;
	left: 0;
	width: 17.6rem;
	padding: 1.75rem;
	border-radius: 1.25rem;
	background-color: #fff;
	box-shadow:
		0px 0.664px 2.214px 0px rgba(0, 0, 0, 0.02),
		0px 1.596px 5.32px 0px rgba(0, 0, 0, 0.03),
		0px 3.005px 10.017px 0px rgba(0, 0, 0, 0.04),
		0px 5.361px 17.869px 0px rgba(0, 0, 0, 0.04),
		0px 10.027px 33.422px 0px rgba(0, 0, 0, 0.05),
		0px 24px 80px 0px rgba(0, 0, 0, 0.07);
	p {
		color: #a5a5a5;
		line-height: 1.3rem;
		span {
			color: #a5a5a5;
			font-weight: 500;
		}
	}
}

.header-mobal__nav {
	display: none;
}
.header-mobal-list {
	display: none;
}

@media screen and (max-width: 1145px) {
	.header {
		padding: 3rem 0 2.25rem 0;
	}
	.header__navigation {
		display: none;
	}
	.header-shopp {
		display: none;
	}
	.header__logo {
		display: none;
	}
	.header-search {
		&__input {
			width: 21.9375rem;
		}
	}
	.header-mobal {
		&__nav {
			display: flex;
			align-items: center;
			gap: 2.3rem;
		}
		&__bugreg {
			position: relative;
			.bugreg {
				width: 2.875rem;
				height: 1.875rem;
				display: flex;
				align-items: flex-end;
				span {
					display: block;
					height: 0.375rem;
					width: 100%;
					background-color: #463739;
				}
				span::after {
					content: "";
					position: absolute;
					height: 0.375rem;
					width: 50%;
					background-color: #463739;
					top: 0;
					left: 0;
					transition: left 0.3s ease;
				}
				span::before {
					content: "";
					position: absolute;
					height: 0.375rem;
					width: 70%;
					background-color: #463739;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					transition: left 0.1s ease;
				}
				&.active span::after {
					left: 50%;
				}
				&.active span::before {
					left: 30%;
				}
			}
			.bugreg-menu {
				padding: 0.8rem 1.5rem 1.1rem 1.5rem;
				padding-bottom: 1.1rem;
				background-color: #fff;
				transition: 0.3s opacity;
				visibility: hidden;
				opacity: 0;
				position: absolute;
				left: 0;
				top: calc(100% + 1.5rem);
				width: 16.7rem;
				border-radius: 1.25rem;
				transition: all 0.3s ease;
				box-shadow:
					0px 24px 80px 0px rgba(0, 0, 0, 0.07),
					0px 10.027px 33.422px 0px rgba(0, 0, 0, 0.05),
					0px 5.361px 17.869px 0px rgba(0, 0, 0, 0.04),
					0px 3.005px 10.017px 0px rgba(0, 0, 0, 0.04),
					0px 1.596px 5.32px 0px rgba(0, 0, 0, 0.03),
					0px 0.664px 2.214px 0px rgba(0, 0, 0, 0.02);
				a {
					display: block;
					padding-bottom: 0.4rem;
					margin-top: 0.7rem;
					font-size: 1.25rem;
					font-weight: 500;
					line-height: 1.625rem;
				}
				li > .bugreg-menu {
					top: calc(100% + 0.3rem);
				}
			}
			.bugreg-menu.active {
				visibility: visible;
				opacity: 1;
			}
			.bugreg-catalog a.active {
				color: #f00;
			}
		}

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__logo-mini {
			width: 2.50594rem;
			height: 3.00706rem;
		}
	}
	.header-mobal-list {
		display: flex;
		align-items: center;
		gap: 2.3rem;
	}
	.header-shopp {
		&__link {
			padding: 0;
			img {
				width: 2.09431rem;
				height: 2.09431rem;
			}
			& span {
				top: 0.1rem;
				right: 0rem;
			}
		}
	}
	.mobal-shopp {
		display: flex;
	}
	.header-book {
		&__link {
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 2.875rem;
				height: 2.875rem;
			}
		}
	}
}

@media screen and (max-width: 680px) {
	.header {
		padding: 1.56rem 0 1.28rem 0;
	}
	.header-search {
		&__input {
			padding: 0 1.7893rem 0 1rem;
			font-size: 0.71569rem;
			line-height: 0.85888rem;
			width: 10.4375rem;
			height: 1.78928rem;
		}
		&__btn {
			width: 1.7893rem;
			height: 1.7893rem;
		}
		&__icon {
			width: 0.53675rem;
			height: 0.53675rem;
		}
	}
	.header-mobal {
		&__nav {
			gap: 1rem;
		}
		&__bugreg {
			.bugreg {
				width: 1.37175rem;
				height: 0.89463rem;
				span {
					height: 0.17875rem;
				}
				span::after {
					height: 0.17875rem;
				}
				span::before {
					height: 0.17875rem;
				}
			}
			.bugreg-menu {
				width: 9rem;
				padding: 0.4rem 0.8rem 0.4rem 0.8rem;
				top: calc(100% + 0.8rem);
				border-radius: 0.6695rem;
				a {
					padding-bottom: 0.4rem;
					margin-top: 0.35rem;
					font-size: 0.625rem;
					line-height: 0.8125rem;
				}
				li > .bugreg-menu {
					top: calc(100% + 0.15rem);
				}
			}
		}
		&__logo-mini {
			width: 1.19288rem;
			height: 1.43144rem;
		}
	}
	.header-mobal-list {
		gap: 1rem;
	}
	.header-shopp {
		&__link {
			img {
				width: 0.99931rem;
				height: 0.99931rem;
			}
			& span {
				width: 0.45rem;
				height: 0.45rem;
				top: 0rem;
				right: 0rem;
			}
		}
	}
	.header-book {
		&__link {
			img {
				width: 1.37175rem;
				height: 1.37175rem;
			}
		}
	}
	.form-notice {
		padding: 1rem;
		width: 9.1rem;
		border-radius: 1rem;
		p {
			line-height: 0.8rem;
			font-size: 0.5rem;
		}
	}
}
