// =============== header ===============

.header {
	padding: 4.69rem 0 3.37rem 0;
	background-color: #fff;

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
	}

	&__logo-dec {
	}

	&__navigation {
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 1.875rem;
	}

	&__item {
	}

	&__link {
		position: relative;
		height: 100%;
		z-index: 1;
		display: flex;
		align-items: center;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.8rem;
		transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);

		&::before {
			content: "";
			width: 1.4375rem;
			height: 1.4375rem;
			margin-right: 1.25rem;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			background-image: url("/img/header/header-user.svg");
		}
		span::before,
		span::after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 100%;
			height: 100%;
			padding: 0.8rem;
			border-radius: 3.125rem;
			border: 1px solid transparent;
			transition: border 200ms cubic-bezier(0.4, 0, 0.2, 1);
		}
		span:hover::before,
		span:hover::after {
			border-color: #f00;
		}
		&:hover {
			color: #f00;
		}
	}
}

.header-shopp {
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 1.4375rem;
			height: 1.4375rem;
		}
	}
}

.header-search {
	&__form {
		position: relative;
	}

	&__label {
	}

	&__input {
		padding: 0 3.75rem 0 2rem;
		width: 15.0625rem;
		height: 3.75rem;
		border-radius: 3.125rem;
		background-color: #e4e4e4;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.8rem;
		overflow: hidden;

		&::placeholder {
			color: #a5a5a5;
		}
	}

	&__btn {
		position: absolute;
		border-radius: 0 3.125rem 3.125rem 0;
		width: 3.75rem;
		height: 3.75rem;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		fill: transparent;
		stroke: #000;
	}
}
.form-notice {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 17.5625rem;
	padding: 2rem 1.375rem 1.75rem 2rem;
	border-radius: 1.25rem;
	background-color: #fff;
	box-shadow:
		0px 0.664px 2.214px 0px rgba(0, 0, 0, 0.02),
		0px 1.596px 5.32px 0px rgba(0, 0, 0, 0.03),
		0px 3.005px 10.017px 0px rgba(0, 0, 0, 0.04),
		0px 5.361px 17.869px 0px rgba(0, 0, 0, 0.04),
		0px 10.027px 33.422px 0px rgba(0, 0, 0, 0.05),
		0px 24px 80px 0px rgba(0, 0, 0, 0.07);
	p {
		color: #a5a5a5;
		line-height: 1.3rem;
		span {
			color: #a5a5a5;
			font-weight: 500;
		}
	}
}

.header-mobal__nav {
	display: none;
}
.header-mobal-list {
	display: none;
}

@media screen and (max-width: 1145px) {
	.header {
		padding: 4.06rem 0 3.06rem 0;
	}
	.header__navigation {
		display: none;
	}
	.header-shopp {
		display: none;
	}
	.header__logo {
		display: none;
	}
	.header-mobal {
		&__nav {
			display: flex;
			align-items: center;
			gap: 2.3rem;
		}
		&__bugreg {
			position: relative;
			width: 46px;
			height: 30px;
			span {
				display: block;
				height: 6px;
				width: 50%;
				background-color: #463739;
			}
			span::after {
				content: "";
				position: absolute;
				height: 6px;
				width: 70%;
				background-color: #463739;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
			}
			span::before {
				content: "";
				position: absolute;
				height: 6px;
				width: 100%;
				background-color: #463739;
				bottom: 0;
				left: 0;
			}
		}

		&__logo {
		}

		&__logo-mini {
		}
	}

	.header-mobal-list {
		display: flex;
		align-items: center;
		gap: 2.3rem;
	}

	.header-shopp {
		&__link {
			img {
				width: 2.09432rem;
				height: 2.09432rem;
			}
		}
	}
	.mobal-shopp {
		display: flex;
	}
	.header-book {
		&__link {
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 2.875rem;
				height: 2.875rem;
			}
		}
	}
}

@media screen and (max-width: 680px) {
}
