/* Settings */
@import url('./settings/default.scss');
@import url('./settings/variables.scss');
@import url('./settings/fonts.scss');
@import url('./settings/general.scss');

/* Header */
@import url('./sections/header/header.scss');

/* Global */
@import url('./sections/global/banner.scss');
@import url('./sections/global/order-card.scss');
@import url('./sections/global/point-item.scss');
@import url('./sections/global/social.scss');

/* Home */
@import url('./sections/home/hero.scss');
@import url('./sections/home/catalog-books.scss');
@import url('./sections/home/pre-order.scss');
@import url('./sections/home/social-network.scss');

/* About-us */
@import url('./sections/about-us/about-us.scss');

/* Vacancies */
@import url('./sections/vacancies/vacancies.scss');

/* Footer */
@import url('./sections/footer/footer.scss');
