<section class="catalog-books">
  <div class="container">
    <div class="catalog-books__wrapp">
      <div class="catalog-books__point">
        <h2 class="catalog-books__title">Наші книги</h2>
        <ul class="catalog-books__point-list">
          <li class="catalog-books__point-item point-item icon-book">
            <a href="#">У наявності</a>
          </li>
          <li class="catalog-books__point-item point-item icon-hot">
            <a href="#">Новинки</a>
          </li>
          <li class="catalog-books__point-item point-item icon-clock">
            <a href="#">Передзамовлення</a>
          </li>
          <li class="catalog-books__point-item point-item icon-check">
            <a href="#">Всі книги</a>
          </li>
        </ul>
        <div class="catalog-books__point-go point-go">
          <a href="./books.html">
            <img src="./img/footer/scroll-up.svg" alt="" />
          </a>
        </div>
      </div>
      <div class="books-card__body">
        <ul class="books-card__list">
          <load src="/partials/global/order-card.html" />
          <load src="/partials/global/order-card.html" />
          <load src="/partials/global/order-card.html" />
          <load src="/partials/global/order-card.html" />
          <load src="/partials/global/order-card.html" />
          <load src="/partials/global/order-card.html" />
        </ul>
      </div>
    </div>
  </div>
</section>
