<section class="pre-order">
  <div class="container">
    <div class="pre-order__wrapp">
      <div class="pre-order__point">
        <h2 class="visually-hidden">Передзамовлення</h2>
        <ul class="pre-order__point-list">
          <li class="pre-order__point-item point-item icon-clock">
            <a href="#">Передзамовлення</a>
          </li>
          <li class="pre-order__point-item point-item icon-book">
            <a href="#">У наявності</a>
          </li>
          <li class="pre-order__point-item point-item icon-hot">
            <a href="#">Новинки</a>
          </li>
          <li class="pre-order__point-item point-item icon-check">
            <a href="#">Всі книги</a>
          </li>
        </ul>
        <div class="pre-order__point-go point-go">
          <a href="#">
            <img src="./img/footer/scroll-up.svg" alt="" />
          </a>
        </div>
      </div>
      <div class="pre-order__container">
        <div class="pre-order__body">
          <div class="swiper swiper-card">
            <ul class="pre-order__list swiper-wrapper">
              <load src="/partials/global/order-card.html" />
              <load src="/partials/global/order-card.html" />
              <load src="/partials/global/order-card.html" />
              <load src="/partials/global/order-card.html" />
              <load src="/partials/global/order-card.html" />
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
