<section class="social-network">
  <div class="container">
    <div class="social-network__body">
      <h2 class="social-network__title">Сторінки в соцмережах</h2>
      <div class="social-network__wrapp">
        <div class="social-network__content">
          <div class="social-network__info">
            <h3 class="social-network__sumtitle">
              Сторінки нашого видавничого дому «Прометей» в інстаграмі, фейсбуці
              та телеграм
            </h3>
            <p class="social-network__text">
              Дізнавайся більше про авторів, їх творчість та внутрішнє життя
              видавництва.
            </p>
            <p class="social-network__motto">Запалюймо разом!</p>
          </div>
          <ul class="social-network__list">
            <li class="social-network__item social__item">
              <a
                class="flexCentr social__link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src="./img/network/inst.svg" alt="" />
              </a>
            </li>
            <li class="social-network__item social__item">
              <a
                class="flexCentr social__link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src="./img/network/facebook.svg" alt="" />
              </a>
            </li>
            <li class="social-network__item social__item">
              <a
                class="flexCentr social__link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src="./img/network/telegram.svg" alt="" />
              </a>
            </li>
          </ul>
        </div>
        <div class="social-network__img">
          <img src="./img/network/img.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
